.app-header {
  background-color: #282c34;
  min-height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative;
}

.rd-hamburger-menu {
  height: auto;
  width: 1.5rem;
  position: absolute;
  right: 1.5rem;
  display: none;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .rd-hamburger-menu {
    display: block;
  }
  ul.rd-menu.rd-navbar {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: inherit;
    height: inherit;
    margin: auto;
    text-align: center;
    &.hidden {
      display: none;
    }
  }
  ul.rd-menu.rd-navbar button {
    width: auto;
    margin: auto;
    padding: 0.75rem;
  }
}
