
.rd-heading {
  margin: 0.5rem 0;
  color: var(--brand1);
  font-weight: bold;
  line-height: 2.75rem;
    font-size: 2rem;
  &.main-heading{
    font-size: 3rem;
    line-height: 4rem;
    
  }
  &.page-heading{
    color: var(--brand3);
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
