$pt-font-family: "IBM Plex Sans";
$pt-font-size: 0.875rem;
$pt-line-height: 1.28581;
$layer-1: 0px 1px 1px rgba(16, 22, 26, 0.2), 0px 0px 0px rgba(16, 22, 26, 0.1);
$layer-2: 0px 2px 6px rgba(16, 22, 26, 0.2), 0px 1px 1px rgba(16, 22, 26, 0.2), 0px 0px 0px rgba(16, 22, 26, 0.1);
$layer-2-raised-panel-btn: 0px -2px 4px 0px rgba(0, 0, 0, 0.1);
$layer-3: 0px 8px 24px rgba(16, 22, 26, 0.2), 0px 2px 4px rgba(16, 22, 26, 0.2), 0px 0px 0px rgba(16, 22, 26, 0.1);
$layer-4: 0px 18px 46px rgba(16, 22, 26, 0.2), 0px 4px 8px rgba(16, 22, 26, 0.2), 0px 0px 0px rgba(16, 22, 26, 0.1);

$inset-box-shodow: inset 0 0 0 2px var(--bg-secondary);
$pt-border-radius: 0.25rem;
$pt-grid-size: 1rem;
$white: #fff;
$black: #000;
