.rd-cart-options {
  display: flex;
  align-self: flex-end;
  height: 5rem;
  color: #1b1b1b;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25;

  & > div {
    display: flex;
    padding: 0 2rem;
    flex-direction: column;
    justify-content: center;
    &:hover {
      background: #1a3e37;
      color: white;
    }
  }
  span {
    display: flex;
    align-self: center;
  }
}

.rd-cart-options-buy {
  background: #d2bd56;
}
.rd-cart-options-add {
  background: #d7db97;
}
