.rd-fulldesign-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: hsla(0, 0%, 10%, 0.9);
}
.close-button {
  color: rgb(255, 255, 255);
  cursor: pointer;
  position: absolute;
  right: -2rem;
  padding: 0.5rem;
}
.rd-fulldesign-box{
  display: flex;
  .rd-fulldesign{
    width: 20rem;
  }
  #fulldesign-canvas {
    width: 100%;
  }
}
