@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

@import "./styles/colors";
@import "./styles/variables";
@import "./styles/mixins";


body {
  user-select: none;
  margin: 0px;
  background: var(--bg-primary);
  color: var(--text-primary);
  font-size: 0.875rem;
  font-family: "Noto Sans";
}

button {
  font-family: "Noto Sans";
  font-size: 0.75rem;
}

@import "./components/atoms/Heading/Heading";
@import "./components/atoms/NavItem/NavItem";
@import "./components/atoms/Banner/Banner";
@import "./components/atoms/Button/Button";

@import "./components/molecules/Navbar/Navbar";
@import "./components/molecules/Thumbnail/Thumbnail";

@import "./components/organisms/HeaderNavbar/HeaderNavbar";
@import "./components/organisms/CollectionSection/CollectionSection";

