.rd-banner {
  margin: auto;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.footer-banner{
  text-align: center;
}